app-header {
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: min-content;
    text-align: center;
    background: $pink;
    color: black;
    font-size: 20px;
    display: block;
}