app-game-info {
    padding: 10px;
    background-color: $gray-300;
    display: block;
    border-radius: 25px;

    h3 {
        margin: 10px;
        margin-left: 5px;
    }

    a {
        color: $pink;
    }
}

