$pink: #C60078;

$gray-100: #111111;
$gray-200: #222222;
$gray-300: #333333; // primary
$gray-400: #444444;
$gray-500: #333333;
$gray-600: #333333;
$gray-700: #333333;
$gray-800: #333333;
$gray-900: #333333;